<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>com.LSH.LSH LSHService</servlet-name>
        <servlet-class>com.LSH.server.LSHService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.LSH.LSH LSHService</servlet-name>
        <url-pattern>/LSH/LSHService</url-pattern>
    </servlet-mapping>

    <!-- ERROR 404 replacement -->
    <!--
    <servlet>
        <servlet-name>missingPageServlet</servlet-name>
        <servlet-class>com.LSH.client.Error404</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>missingPageServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping> -->

    <error-page>
        <error-code>404</error-code>
        <location>LSH/LSHService</location>
    </error-page>
</web-app>