h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    font-family: "Segoe UI Symbol", monospace;
    margin: 0;
    padding: 2%;
}

div {
    align: center;
}

.block404 {
    background: #304FFE;
    height: 100%;
    border: none;
    position: relative;
}