h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    font-family: "Segoe UI Symbol", monospace;
    margin: 0;
    padding: 2%;
}

body {
    background-color: #FFFFFF;
}

.block404 {
    height: 100%;
    border: none;
    position: relative;
}