h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    font-family: "Segoe UI Symbol", monospace;
    margin: 0;
    padding: 2%;
}

p {
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

body {
    font-family: Helvetica, sans-serif;
  	height: 100%;
    margin: 0;
    background: #FAFAFA;
}

.blockTitle {
    background: #304FFE;
    height: 20%;
    border: none;
    position: relative;
  	flex: 1 0 auto;
}

.blockAbout {
    background: #E8EAF6;
    text-align: center;
    height: 70%;
    margin: 2% 30% 0% 30%;
    border: none;
    position: relative;
}

.blockInfo {
    text-align: center;
    height: 10%;
    margin: 2% 20% 0% 20%;
    border: none;
    position: relative;
}
