h3 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    horiz-align: center;
    font-family: "Segoe UI Symbol", monospace;
    margin: 0;
    padding: 2%;
}

p {
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

body {
    font-family: Helvetica, sans-serif;
  	height: 100%;
    margin: 0;
    background: #FAFAFA;
}

.blockTitle {
    background: #304FFE;
    height: 150px;
    width: 100%;
    border: none;
    text-align: center;
}

.blockData {
    height: 450px;
    width: 100%;
    border: none;
    margin: 0 15% 0 15%;
    clear: both;
}

.blockAbout {
    height: 50px;
    width: 100%;
    border: none;
    text-align: center;
}