h3 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    horiz-align: center;
    font-family: "Segoe UI Symbol", monospace;
    margin: 0;
    padding: 2%;
}

h6 {
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

p {
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

body {
    font-family: Helvetica, sans-serif;
  	height: 100%;
    margin: 0;
    background: #FAFAFA;
}

.blockTitle {
    background: #304FFE;
    height: 120px;
    width: 100%;
    border: none;
}

.blockBrick {
    padding-top: 10px;
    height: 100px;
    width: 20%;
    float: left;
}

.blockName {
    padding-top: 10px;
    height: 100px;
    width: 60%;
    text-align: center;
    float: left;
}

.blockLogin {
    padding-top: 10px;
    height: 100px;
    width: 20%;
    float: left;
}

.blockData {
    align-content: center;
    padding-top: 10px;
    height: 450px;
    width: 70%;
    border: none;
    margin: 0 15% 0 15%;
    clear: both;
}

.blockAbout {
    height: 50px;
    width: 100%;
    border: none;
    text-align: center;
}

.Table {
    align-content: center;
}