.gwt-Button {
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
    cursor: hand;
    font-size:small;
    border:1px solid #bbb;
    border-bottom: 1px solid #a0a0a0;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.gwt-Button:active {
    border: 1px inset #ccc;
}

.gwt-Button:hover {
    border-color: #939393;
}